/* resources/css/home.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.tgdd.vn/News/Thumb/99/11--1--1200x797.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Màu chữ trắng */
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.login-link {
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #FF4500; /* Màu cam */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-link:hover {
    background-color: #FF6347; /* Màu cam nhạt khi di chuột vào */
}

.content {
    text-align: center;
}

.swipe-right {
    font-size: 36px; /* Kích thước font lớn */
    font-weight: bold; /* Chữ in đậm */
    margin-bottom: 20px; /* Khoảng cách với chữ "Đăng ký ngay" */
}

.register-link {
    text-decoration: none;
    font-size: 24px;
    background-color: #FF4500; /* Màu cam */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-link:hover {
    background-color: #FF6347; /* Màu cam nhạt khi di chuột vào */
}
